* {
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 5.6%;
    z-index: 6;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
}

#task {
    position: absolute;
    right: 62px;
    margin: 0 0;
    color: white;
    font-size: 15px;
    align-self: center; 
}

#taskBtn{
    position: absolute;
    align-self: center;
    right: 10px;
    width: 40px;
    height: 40px;
    border: 4px double #4E73DA;
    border-radius: 5px;
    font-size: 20px;
    opacity: 80%;
}

#taskBtn:hover {
    background-color: #bc3961;
    color: white;
    cursor: pointer;
    transform: scale(1.15);
    border: 3px solid #4E73DA;
}

#project {
    position: absolute;
    left: 62px;
    margin: 0 0;
    color: white;
    font-size: 15px;
    align-self: center;
}

#projectBtn {
    position: relative;
    align-self: center;
    left: 10px;
    width: 40px;
    height: 40px;
    border: 4px double #4E73DA;
    border-radius: 5px;
    font-size: 20px;
    opacity: 80%;
}

#projectBtn:hover {
    background-color: #ff877b;
    color: white;
    cursor: pointer;
    transform: scale(1.15);
    border: 3px solid #4E73DA;  
}

#sidebar {
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 94.4%;
    top: 5.6%;
    margin: 0;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

    overflow-x: hidden;
    overflow-y: auto;
    z-index: 5;
}

#welcome {
    position: absolute;
    bottom: 0;
    right: 0%;
    font-size: 20px;
    margin: 4px 8px;
    color: white;
    line-height: 40px;
}

#projectsHeader {
    font-family: 'Zen Dots', cursive;   
    background: -webkit-linear-gradient(#ff8177, #b12a5b);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}

hr {
    border-color: #ff877b;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    display: grid;
    grid-template-columns: 80% 20%;
    border: 2px solid #4E73DA2F;
    height: 60px;
    width: 200px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: white;
    margin-left: 0px;
}

.selectedBG {
    background-color: #ff877b;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    border: 3px solid #4E73DA;  
}

li:hover {    
    cursor: pointer;
    z-index: 10;
}

li > div > p {
    font-size:  15px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 900;
    z-index: 10;
}

li > .remove {
    position: relative;
    height: 30px;
    width: 30px;
    z-index: 10;
    align-self: center;
    margin: 0 auto;
}

.remove:hover {
    cursor: pointer;
    transform: scale(1.1);
}

li > button:hover {
    cursor: pointer;
    transform: scale(1.1);
    
}

#projectForm {
    position: fixed;
    left:150px;
    top: 10px;
    width: 290px;
    height: 30px;
    background-color: #A5A5A5;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 hsla(0, 10%, 94%, 0.4);
    transition: all 0.3s linear;
    z-index: 15;
}

#projectInput {
   position: absolute;
   left: 50px;
   top: 4.5px;
   opacity: 85%;
   border: 1px solid rgba(0, 0, 0, 0.5);
}

#projectLabel {
    position: absolute;
    font-size: 15px;
    left: 92px;
    user-select: none;
    top: 6px;
    color: black;
    font-weight: 900;
    
}

#projectSubmit {
    position: absolute;
    font-size: 20px;
    left: 250px;
    bottom: 1px;
    border: 1px solid black;
    opacity: 100%;
}

#projectSubmit:hover {
    cursor: pointer;
    user-select: none;
    background-color: #bc3961;
}

#formContainer {
    position: fixed;
    left: 90%;
    top: 300px;
    
    transition: all 0.3s linear;
    display: block;
    z-index: 10;
}
    
form {
    width: 100%;
    height: 100%;
    background-color: #A5A5A5;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 hsla(0, 10%, 94%, 0.4);
    
}

.labels {
    position: absolute;
    font-size: 15px;
    left: 2px;
    user-select: none;
}

#dueContainer {
    position: relative;
    left:20px;
    border: solid 1px #ccc;
    position: relative;
    width: fit-content;
    margin: 30px 50px;
}

#radioTitle {
    position: relative;
    width: 20px;
    left: 51px;
}

.radioText {
   position: relative;
   margin-top: -5px;
    bottom: 29px;
}

.priority {
    position: relative;
        align-self: center ;
        left: 110px;
        bottom: 40.2px;
}

#labelRadio {
    position: relative;
    bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: end;
    margin-bottom: -60px;
}
#taskSubmit{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    border: none;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #7E7891;
    font-size: 1rem;
    font-family: 'Zen Dots', cursive;
}

#taskSubmit:hover {
    cursor: pointer;
    background-color: #B44EDAB1;
    
}

.hideLabel {
    opacity: 0%;
}

.labelContainers {
    display: flex;
    justify-content: center;
    border: solid 1px #ccc;
    position: relative;
    width: fit-content;
    margin: 30px 50px;
}
.labels:hover {
        cursor: text;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
    
}

.scale {
    animation: scale 0.3s linear forwards;
}

#content {
    position: relative;
    width: 650px;
    height: 600px;
    margin: 0 auto;
    top: 23%;
    background-color: white;
    border: 2px solid rgba(134, 121, 121, 0.7);
    overflow-y: auto;
    border-radius: 4px;
}

#tasks {
    position: relative;
    color: #ff8177;
    left: 0;
    text-align: center;
    font-size: 25px;  
}

.itemsContainer {
    display: grid;
    margin: 20px auto;
    grid-template-columns: 5% 20% 40% 10% 15% 10%;
    width: 95%;
    height: 15%;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    background-color: hsl(210, 9%, 96%);
}

.headersContainer {
    display: grid;
    margin: 20px auto;
    grid-template-columns: 5% 20% 40% 10% 15% 10%;
    width: 95%;
    height: 10%;
}

.item {
    margin: auto 5px;
    align-self: center;
}

.header {
    margin: auto 5px;
    align-self: center;
    font-size: 18px;
    text-decoration: underline; 
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}

.imgBin {
    background-image: url(./iconfinder_trash_4115238.png);
    height: 30px;
    width: 30px;
    box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, 0.1);
}

.imgBin:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.strikeThrough {
    text-decoration: line-through;
}

.done {
    background-color: #e1ebe2;
    opacity: 30%;
}

@keyframes scale {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }
    100% {
        transform: scale(1.1) translate(-50%, -50%);
    }
}

@media screen and (max-width: 1255px) {
    #sidebar {
        width: 188px;
    }
    #projectsHeader {
        font-size: 30px;
    }
    li {
        width: 180px;
        margin-left: -30px;
        height: 70px;
    }
    li > div > p {
        font-size: 14px
    }
}

@media screen and (max-width: 1030px) {
    #content {
        width: 400px;
        left: 10vw;
    }
    .item {
        margin: auto 5px;
        align-self: center;
        font-size: 13px;
    }
    #formContainer {
        left: 54%;
        top: 50%;
    }
    .itemsContainer {
        grid-template-columns: 10% 15% 35% 10% 15% 15%;
        height: 33%;
    }
    #projectForm {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30px;
        z-index: 20;
    }
    #tasks {
        font-size: 20px;
    }
    .imgBin {
        height: 20px;
        width: 20px;
    }
   

@media screen and (max-height: 750px) {
    #taskBtn{
        right: 10px;
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
    #projectBtn {
        left: 10px;
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
}

@media screen and (max-width: 665px) {
   #sidebar {
       width: 140px;
   }
   #projectsHeader {
       font-size: 25px;
   }
   li {  
    grid-template-rows: 75% 25%;
    grid-template-columns: 1fr;
    height: 90px;
    width: 100px;
    margin: 10px auto;
    margin-left: -20%;
    }
   
   li > div > p {
       font-size: 10px;
   }
   li > .remove {
       width: 20px;
       height: 20px;
   }
    .item {
        font-size: 9px;
    }
    #tasks {
        font-size: 20px;
    }
    .header {
        font-size: 14px;
    }
    #content {
        left: 12vw;
    }
}

@media screen and (max-width: 550px) {
    #sidebar {
        width: 100%;
        height: 200px;
        overflow:auto;  
    }
    #projectsHeader {
        text-align: center;
        font-size: 22px;

    }
    hr {
        opacity: 0%;
    }
    ul {
        width: 100%;
        height: 40%;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: -20px;
    }
 
    li {
        grid-template-columns: 1fr;
        grid-template-rows: 80% 20%;
        height: 100px;
        width: 100px;
        margin: 10px 5px 0px 5px;
        margin-bottom: -50px;
    }
    li > div {
        font-size:  10px;
        text-align: center;
        z-index: 15;
    }
    li > div > p {
        font-size:  12px;
        font-weight: 900;
        margin: 10px auto;
        text-align: center;
    }
    li > .remove {
        height: 20px;
        width: 20px;
    }
    #content {
        width: 350px;
        height: 400px;
        margin: 0 auto;
        left:0%;
        top: 30%;
        overflow-y: auto;
        z-index: 9;
    }
    #nav {
        height: 6.6%;
    }
    .item {
        font-size: 9px;
    }
    #formContainer {
        left: 54%;
        top: 50%;
    }
    .itemsContainer {
        grid-template-columns: 10% 15% 35% 10% 15% 15%;
    }
    #projectForm {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30px;
        z-index: 20;
    }
    .imgBin {
        height: 20px;
        width: 20px;
    }
    #taskBtn{
        right: 10px;
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
    #projectBtn {
        left: 10px;
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
    #tasks {
        font-size: 18px;
    }
}

@media screen and (max-height: 740px) {
    li {
        height: 80px;
    }
    ul {
        margin-top: -40px;
    }
}